html, body {
	margin: 0;
	padding: 0;
	background-color: #e7efee;
}
@font-face {
	font-family: 'Mathilde';
	src: url("fonts/mathilde.otf");
}
.logo-container {
	width: 600px;
	height: 300px;
	overflow: visible;
	float: left;
	position: relative;
}
.logo-container img {
	width: 100%;
	margin-top: 10px;
	margin-left: 60px;
}
header {
	background-color: white;
	height: 300px;
	border-bottom: 2px solid #919191;
	box-shadow: 0px 3px 2px 2px #d4dddc;
	background-image: url("golden geode.png");
	background-size: 600px 300px;
	background-repeat: no-repeat;
	background-position: right;
}
.subtitle {
	font-family: 'Mathilde';
	font-size: 30px;
	color: #919191;
	text-align: center;
	padding: 10px;
	margin: auto;
	width: 600px;
}
.main-nav {
	padding-top: 215px;
	float: right;
	padding-right: 65px;
	padding-bottom: 0;
	margin: 0;
}
.main-nav ul {
	padding: 0;
	margin: 0;
}
.main-nav li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
}
.main-nav a {
	display: inline-block;
	width: 65px;
	text-align: center;
	font-family: arial;
	font-size: 13px;
	text-decoration: none;
	margin-left: 20px;
	color: #919191;
	background-color: rgba(255,255,255,.6);
	padding: 5px 8px;
	padding-bottom: 60px;
	border-top: 5px solid #919191;
	box-shadow: 0px 1px 3px 0px #919191;
}
.main-nav a:hover {
	cursor: pointer;
	color: #e0ab92;
	background-color: rgba(255,255,255,.8);
}
p {
	margin: 0;
	padding: 0;
}
.dropdown {		
	display: none;
}
/****** GALLERY IMAGES ******/
.events-gallery {
	margin: auto;
	width: 80%;
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    column-gap: 10px;
}
.img {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 30 0 2em;
    background-color: white;
/*    background-color: #ead1ca;*/
}
.img:hover {
    border: 1px solid #777;
}
.img img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
p.featured-projects {
	font-family: 'Mathilde';
	font-size: 30px;
	text-align: center;
	padding: 5 0 5 10;
	color: #3a3a3c;
/*	border-top: 1px solid #777;*/
	margin: 0;
}
.responsive {
    width: 100%;
}
h5 {
	font-size: 11px;
	text-align: center;
	border-top: 1px solid black;
	padding: 20px;
	margin-top: 50px;
	color: #3b6468;
}

@media all and (min-width: 0px) and (max-width: 510px){
	.responsive {
		width: 100%;
	}
	header {
		height: 150px
	}
	.subtitle {
		font-size: 24px;
		text-align: center;
		width: 400px;
	}
	.main-nav {
		position: fixed;
		padding: 0;
	}
	p.featured-projects {
		font-size: 30px;
		margin: 2px;
	}
	.events-gallery {
		width: 464px;
		margin-left: 20px;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
    	-moz-column-count: 1; /* Firefox */
    	column-count: 1;
    	column-gap: 10px;
	}
	.logo-container {
		width: 300px;
		height: 100px;
		overflow: visible;
		padding-left: 50px;
	}
	.main-nav ul {
		display: none;
	}
	section.module h2 {
		padding-left: 35px;
	}
	section.module h3 {
		padding-top: 20px;
		text-align: center;
	}
	section.module h3 a {
  		font-size: 35px;
  		padding: 5px 25px 5px 25px;
	}
	section.module h4 {
  		font-size: 18px;
  		padding-top: 30px;
  		padding-left: 35px;
	}
	section.module p {
		padding-left: 35px;
	}

	/* Dropdown Button */
	.dropbtn {
		background-color: rgba(255,255,255,.6);
	    color: black;
	    font-size: 25px;
	    text-align: center;
	    margin-top: 20px;
	    margin-left: 20px;
	    border: 2px solid black;
	   	cursor: pointer;
	   	padding: 1px 8px 4px 8px;
	}

	/* Dropdown button on hover & focus */
	.dropbtn:hover, .dropbtn:focus {
    	background-color: rgba(255,255,255,.2);
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	    position: relative;
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	    display: none;
	    position: absolute;
	    padding: 0;
	    margin: 0;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		border: 1px solid black;
	    color: black;
	    background-color: rgba(190,223,226,.6);
	    padding: 6px 8px;
	    text-decoration: none;
	    display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #f1f1f1}

	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
	.show {display:block;}

 	section.module.parallax {
 		height: 250px;
 	}
	section.module.parallax h1 {
    	font-size: 40px;
    	margin: 0;
    	line-height: 250px;
 	}
 	section.module.parallax h1 a {
 		font-size: 40px;
    	margin: 0;
    	line-height: 250px;
 	}
}
@media all and (min-width: 511px) and (max-width: 907px){
	.responsive {
		width: 100%;
	}
	.subtitle {
		font-size: 24px;
		width: 400px;
	}
	.logo-container {
		width: 400px;
		height: 200px;
		overflow: visible;
		padding-top: 0px;
	}
	p.featured-projects {
		margin: 5px;
	}
	.events-gallery {
		width: 93%;
		margin: auto;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
    	-moz-column-count: 1; /* Firefox */
    	column-count: 1;
    	column-gap: 10px;
	}
 	section.module.parallax {
 		height: 250px;
 	}
	section.module.parallax h1 {
    	font-size: 40px;
    	margin: 0;
    	line-height: 250px;
 	}
 	section.module.parallax h1 a {
 		font-size: 40px;
    	margin: 0;
    	line-height: 250px;
 	}
 	section.module h3 {
		padding-top: 20px;
		text-align: center;
	}
	section.module h3 a {
  		font-size: 35px;
  		padding: 5px 25px 5px 25px;
	}
 	header {
 		height: 200px;
 	}
 	.main-nav {
 		padding-top: 18px;
 		padding-right: 10px;
 		text-align: center;
 		margin: 0;
 	}
 	.main-nav li {
 		display: block;
 		padding-right: 0;
 		margin-bottom: 5px;
 		text-align: center;
 	}
 	.main-nav a {
 		width: 90px;
 		text-align: center;
 		margin: 0;
 		padding: 5px;
 		font-size: 12px;
 		color: #454545;
 		border-top: 5px solid #c3d5cf;
 	}
}
@media all and (min-width: 908px) and (max-width: 1200px){
	.responsive {
		width: 100%;
	}
	.subtitle {
		font-size: 24px;
		width: 400px;
	}
	.logo-container {
		width: 400px;
		height: 200px;
		overflow: visible;
		padding-top: 0px;
	}
	p.featured-projects {
		font-size: 30px;
		margin: 5px;
	}	
	.events-gallery {
		width: 92%;
		margin: auto;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
    	-moz-column-count: 1; /* Firefox */
    	column-count: 1;
    	column-gap: 10px;
	}	
	header {
		height: 200px;
	}
	.main-nav {
		padding-right: 60px;
		padding-top: 111px;
	}
	.main-nav li {
		text-align: center;
	}
	.main-nav a {
		width: 60px;
		font-size: 12px;
		margin: 5px;
		text-align: center;
	}
}
.clearfix:after {
    content: "";
    display: inline-block;
    clear: both;
}