html, body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
}
.clearfix {
	overflow: auto;
}
a {
	text-decoration: none;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
p {
	color: #666;
	text-transform: uppercase;
	letter-spacing: 12px;
	font-family: $regular, $helvetica;
}
.content-wrap {
	width: 1024px;
	margin: auto;
	header {
		background-color: white;
		height: 140px;
		display: flex;
		.logo-container {
			height: 100%;
			width: 140px;
			background-image: url(../images/logo-Z.png);
			background-size: contain;
			background-repeat: no-repeat;
		}
		.name-full {
			height: 100%;
			.company-name {
				p {
					width: 295px;
					position: relative;
					top: 45px;
					color: black;
					font-size: 28px;
					text-align: center;
				}
				.boutique-text {
					font-family: $Vultures;
					letter-spacing: 3px;
					color: rgb(28, 7, 11);
					text-transform: none;
					font-weight: 300;
					font-size: 26px;
					text-align: center;
					position: relative;
					left: -10px;
				}
			}
		}

		.inquiries {
			height: 100%;
			width: 989px;
			.inquiry-box {
				float: right;
				width: 150px;
				display: flex;
				.houzz-logo {
					position: relative;
					top: 50px;
					right: 7px;
					height: 40px;
					width: 40px;
					vertical-align: middle;
					background-image: url("../images/houzz-inquiries.png");
					background-size: contain;
				}
				p {
					text-align: right;
					letter-spacing: 1px;
					line-height: 140px;
					font-size: 14px;
				}
			}
		}
		.houzz-logo {
			height: 100%;
			width: 50px;
		}
	}
	.main-content {
		display: flex;
		.sidebar-nav {
			padding-top: 20px;
			width: 240px;
			height: 100%;
			ul {
				padding-left: 20px;
				a {
					text-decoration: none;
					li {
						font-family: $regular;
						text-transform: uppercase;
						color: #666;
						list-style: none;
						padding-bottom: 20px;
						font-size: 17px;
						&:hover {
							color: #111;
						}
					}
				}
				button {
					border: none;
					font-family: $regular;
					text-transform: uppercase;
					color: #666;
					list-style: none;
					margin-bottom: 20px;
					font-size: 17px;
					padding: 0px;
					background-color: transparent;
					cursor: pointer;
				}
			}
			.share-icons{
				margin-left: 20px;
				opacity: .5;
				img {
					padding-left: 5px;
				}
			}
		}
		.grid-area {
			width: 100%;
			max-width: 900px;
			height: auto;
			padding: 20px;
			h2 {
				font-family: $regular;
			}
			.service-right {
				display: flex;
				width: 750px;
				margin: 0 auto;
				.service-res {
					width: 100%;
					flex: 1 0 48%;
					margin-right: 10px;
					h2 {
						margin: 5px 0px;
						font-size: 12px;
					}
					p {
						font-size: 9px;
						line-height: 10px;
						color: black;
						letter-spacing: .1px;
						margin-bottom: 20px;
					}
					.image-bottom-1 {
						background-image: url("../images/service-res.jpg");
						background-size: cover;
						height: 200px;
						width: 100%;
						margin-bottom: 20px;
					}
				}
				.service-com {
					width: 100%;
					flex: 1 0 48%;
					h2 {
						margin: 5px 0px;
						font-size: 12px;
					}
					p {
						font-size: 9px;
						line-height: 10px;
						color: black;
						letter-spacing: .1px;
						margin-bottom: 20px;
					}
					.image-bottom-2 {
						background-image: url("../images/service-com.jpeg");
						background-size: cover;
						background-position: center;
						height: 200px;
						width: 100%;
						margin-bottom: 20px;
					}
				}
			}
			.service-edecor {
				.service-title {
					text-align: center;
					font-family: $light;
				}
				.service-divider {
						width: 300px;
						height: 1px;
						background-color: #999;
						margin: 0 auto;
						margin-top: 7px;
				}
				.service-list {
					display: flex;
					font-size: 10px;
					font-family: $medium;
					margin: 0 auto;
					width: 600px;
					margin-bottom: 20px;
				}
				.service-cta {
					width: 100%;
					.cta-edecor {
						border: 1px solid #999;
						width: 140px;
						height: 50px;
						margin: 0 auto;
						line-height: 50px;
						text-align: center;
						text-transform: uppercase;
						font-family: $thin;
						a {
							color: #999;
						}
					}
				}
			}
			.edecor-right {
				display: flex;
				.edecor-material {
					height: 450px;
					width: 300px;
					background-image: url("../images/material-4.jpeg");
					background-size: cover;
					background-position: 15% 70%;
				}
				.edecor-description {
					width: 100%;
					font-family: $medium;
					font-size: 10px;
					text-transform: uppercase;
					padding: 0px 30px;
					letter-spacing: -.2px;
					.e-title {
						text-align: center;
						margin: 10px 0px;
						font-family: $bold;
					}
					.e-intro {
						margin: 20px 0px;
					}
					.e-howitworks {
						text-transform: none;
						margin: 5px 0px;
						text-align: center;
					}
					.e-divider {
						margin: 5px 0px;
						width: 300px;
						height: 1px;
						background-color: #999;
						margin: 10px auto;
					}
					.e-summary {
						margin: 10px 0px;
					}
					.e-example {
						margin: 20px 0px;
					}
				}
			}
			.about-right {
				display: flex;
				width: 600px;
				margin: 0 auto;
				.about-text {
					margin-top: 30px;
					width: 350px;
					h2 {
						text-transform: uppercase;
						font-size: 14px;
					}
					.about-paragraph {
						font-size: 9px;
						text-transform: none;
						letter-spacing: .1px;
					}
				}
				.about-image {
					float: left;
					width: 200px;
					height: 200px;
					margin-top: 20px;
					margin-left: 40px;
					border-radius: 400px;
					background-image: url(../images/zazstudio-6275.jpg);
					background-size: 210%;
					background-position: 13% 30%;
					border: 6px solid #FFF;
				}
			}
			.contact-right {
				display: flex;
				width: 600px;
				height: 300px;
				margin: 0 auto;
				.contact-info {
					position: relative;
					top: 50px;
					h1 {
						font-size: 10px;
						font-family: $medium;
						text-transform: uppercase;
					}
					p {
						font-size: 10px;
						text-transform: none;
						letter-spacing: .1px;
					}
				}
				.contact-map {
					margin-left: 40px;
				}
			}
			.grid-press {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				.press-cell {
					background-color: black;
					margin: 10px;
					width: 150px;
					height: 200px;
					background-position: center;
					border: 1px solid #999;
				}
				.mag1 {
					background-image: url('../images/press/hospitality_design.jpg');
					background-size: cover;
				}
				.mag2 {
					background-image: url('../images/press/boston_voyager.jpg');
					background-size: cover;
				}
				.mag3 {
					background-image: url('../images/press/chairish.jpg');
					background-size: cover;
				}
				.mag4 {
					background-image: url('../images/press/dream_world_decor.jpg');
					background-size: cover;
				}
				.mag5 {
					background-image: url('../images/press/virserius_studio.jpg');
					background-size: cover;
				}
				.mag6 {
					background-image: url('../images/press/houzz_week_22.jpg');
					background-size: cover;
				}
				.mag7 {
					background-image: url('../images/press/imaggo.jpg');
					background-size: cover;
				}
				.mag8 {
					background-image: url('../images/press/inviting_interiors.jpg');
					background-size: cover;
				}
			}
			.grid-photos {
				width: 800px;
				margin: 0px auto;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
  			justify-content: center;
				.grid-cell {
					flex: 0 0 33%;
					height: 160px;
					margin-bottom: 0px;
					display:flex;
					align-items: center;
					justify-content: center;
					p {
						letter-spacing: .1px;
						text-transform: none;
						font-size: 11px;
						padding: 15px;
						color: #333;
					}
				}
				.row1-col1{
					background-image: url("../images/gallery/nicole.jpg");
					background-size: cover;
				}
				.row1-col2{
					background-image: url("../images/gallery/beach.jpg");
					background-size: cover;
				}
				.row1-col3{
					background-color: #EEE;
					p {
						font-size: 10px;
					}
				}
				.row2-col1{
					background-color: #EEE;
				}
				.row2-col2{
					background-image: url("../images/gallery/adi.jpg");
					background-size: cover;
				}
				.row2-col3{
					background-image: url("../images/gallery/material.jpeg");
					background-size: cover;
					background-position: 20% 30%;
				}
				.row3-col1{
					background-image: url("../images/gallery/blush.jpg");
					background-size: cover;
				}
				.row3-col2{
					background-color: #EEE;
					p {
						font-size: 9px;
					}
				}
				.row3-col3{
					background-image: url("../images/gallery/adi2.jpg");
					background-size: cover;
				}
			}
		}
	}
	p {
		margin: 0;
		padding: 0;
	}
	h5 {
		font-family: 'Avenir';
		font-weight: 200;
		font-size: 12px;
		text-align: center;
		padding: 20px;
		margin: auto;
		background-color: #FFF;
		color: #999;
		a {
			text-decoration: none;
			color: #999;
		}
	}
}

@media all and (min-width: 0px) and (max-width: 768px) {
	header {
		height: 150px
	}
	.main-nav {
		position: fixed;
		padding: 0;
	}
	.logo-container {
		width: 300px;
		height: 100px;
		overflow: visible;
		padding-left: 100px;
	}
	.main-nav ul {
		display: none;
	}
	#favicon-container {
		height: 30px;
		padding: 0;
		margin: auto;
		width: 640px;
	}
	.icon {
		height: 35px;
	}
	/* Dropdown Button */
	.dropbtn {
		background-color: rgba(255,255,255,.6);
	    color: black;
	    font-size: 25px;
	    text-align: center;
	    margin-top: 20px;
	    margin-left: 20px;
	    border: 2px solid black;
	   	cursor: pointer;
	   	padding: 1px 8px 4px 8px;
	}

	/* Dropdown button on hover & focus */
	.dropbtn:hover, .dropbtn:focus {
    	background-color: rgba(255,255,255,.2);
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	    position: relative;
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	    display: none;
	    position: absolute;
	    padding: 0;
	    margin: 0;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		border: 1px solid black;
	    color: black;
	    background-color: rgba(190,223,226,.6);
	    padding: 6px 8px;
	    text-decoration: none;
	    display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #f1f1f1}

	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
	.show {display:block;}

 	section.module.parallax {
 		height: 250px;
 	}
	section.module.parallax h1 {
    	font-size: 40px;
    	margin: 0;
    	line-height: 250px;
 	}
 	section.module.parallax h1 a {
 		font-size: 40px;
    	margin: 0;
    	line-height: 250px;
 	}
}

/************ MOBILE *************/

@media all and (min-device-width: 0px) and (max-device-width: 1242px) {
	header {
		height: 250px
	}
	.subtitle {
		font-size: 36px;
		text-align: center;
		width: 600px;
	}
	.main-nav {
		position: fixed;
		padding: 0;
	}
	.logo-container {
		width: 500px;
		height: 300px;
		overflow: visible;
		padding-left: 250px;
	}
	.main-nav ul {
		display: none;
	}
	#favicon-container {
		height: 30px;
		padding: 0;
		margin: auto;
		width: 350px;
	}
	.icon {
		height: 35px;
	}
	/* Dropdown Button */
	.dropbtn {
		background-color: rgba(255,255,255,.6);
	    color: black;
	    font-size: 25px;
	    text-align: center;
	    margin-top: 20px;
	    margin-left: 20px;
	    border: 2px solid black;
	   	cursor: pointer;
	   	padding: 1px 8px 4px 8px;
	}

	/* Dropdown button on hover & focus */
	.dropbtn:hover, .dropbtn:focus {
    	background-color: rgba(255,255,255,.2);
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	    position: relative;
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	    display: none;
	    position: absolute;
	    padding: 0;
	    margin: 0;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		border: 1px solid black;
	    color: black;
	    background-color: rgba(190,223,226,.6);
	    padding: 6px 8px;
	    text-decoration: none;
	    display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #f1f1f1}

	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
	.show {display:block;}

 	section.module.parallax {
/* 		height: 250px;*/
		height: 450px;
		background-position: 0% 0%;
  		background-attachment: scroll;
  		background-size: 100%;
 	}
	section.module.parallax h1 {
    	font-size: 60px;
    	margin: 0;
    	line-height: 450px;
 	}
 	section.module.parallax h1 a {
 		font-size: 60px;
    	margin: 0;
    	line-height: 450px;
 	}
}
