html, body {
	margin: 0;
	padding: 0;
	background-color: $teal-light;
}
.clearfix {
	overflow: auto;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
p {
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 12px;
	font-family: 'Avenir';
}
.content-wrap {
	width: 1024px;
	margin: auto;
	background-color: $teal;
	border: 1px solid #adc3c5;
	border-top: none;
	border-bottom: none;
	box-shadow: 0px 10px 5px 5px rgba(0,0,0,.1);
	.double-col {
		width: 100%;
		height: 570px;
		.hospitality { 
			float:left;
			height: 570px;
			width: 512px;
			background-image: url('../images/hosp.png');
			background-size: 100%;
			.hospitality-overlay {
				background-color: rgba(43, 48, 58, .8);
				height: 54%;
				.hospitality-text {
					padding: 40px 0px 0px 40px;
					.hospitality-title {
						color: #FFF;
						text-transform: uppercase;
						letter-spacing: 12px;
						font-family: 'Avenir';
						font-weight: 100;
						font-size: 26px;
					}
					.hospitality-detail {
						width: 350px;
						p {
							font-size: 9px;
							letter-spacing: 4px;
							line-height: 20px;
						}
					}
				}
			}
		}
		.residential { 
			float:left;
			height: 570px;
			width: 512px;
			background-image: url('../images/resi.png');
			background-size: 100%;
			.residential-overlay {
				position: relative;
				top: 342px;
				background-color: rgba(53, 72, 76, .9);
				height: 40%;
				.residential-text {
					padding: 20px 0px 0px 40px;
					.residential-title {
						color: #FFF;
						text-transform: uppercase;
						letter-spacing: 12px;
						font-family: 'Avenir';
						font-weight: 100;
						font-size: 26px;
					}
					.residential-detail {
						width: 350px;
						p {
							font-size: 9px;
							letter-spacing: 4px;
							line-height: 20px;
						}
					}
				}
			}
		}
		.weddings { 
			float:left;
			height: 570px;
			width: 512px;
			background-image: url('../images/wedd.png');
			background-size: 100%;
			.weddings-overlay {
				position: relative;
				top: 315px;
				background-color: rgba(53, 56, 76, .9);
				height: 45%;
				.weddings-text {
					padding: 20px 0px 0px 40px;
					.weddings-title {
						color: #FFF;
						text-transform: uppercase;
						letter-spacing: 12px;
						font-family: 'Avenir';
						font-weight: 100;
						font-size: 26px;
					}
					.weddings-detail {
						width: 350px;
						p {
							font-size: 9px;
							letter-spacing: 4px;
							line-height: 20px;
						}
					}
				}
			}
		}
		.parties { 
			float:left;
			height: 570px;
			width: 512px;
			background-image: url('../images/part.png');
			background-size: 100%;
			.parties-overlay {
				position: relative;
				top: 274px;
				background-color: rgba(178, 117, 81, .6);
				height: 52%;
				.parties-text {
					padding: 20px 0px 0px 40px;
					.parties-title {
						color: #FFF;
						text-transform: uppercase;
						letter-spacing: 12px;
						font-family: 'Avenir';
						font-weight: 100;
						font-size: 26px;
					}
					.parties-detail {
						width: 350px;
						p {
							font-size: 9px;
							letter-spacing: 4px;
							line-height: 20px;
						}
					}
				}
			}
		}
	}
	.double-col-press {
		width: 100%;
		height: 470px;
		.press-1 { 
			float:left;
			height: 470px;
			width: 250px;
			padding: 0px 50px;
			padding-left: 200px;
			background-color: rgba(178, 117, 81, .3);
			background-size: 100%;
			.weddings-overlay {
				position: relative;
				top: 50px;
				background-image: url('../images/hospitality_design.jpg');
				background-size: 100%;
				background-repeat: no-repeat;
				height: 350px;
				width: 270px;
				.weddings-text {
					padding: 20px 0px 0px 40px;
					.weddings-title {
						color: #FFF;
						text-transform: uppercase;
						letter-spacing: 12px;
						font-family: 'Avenir';
						font-weight: 100;
						font-size: 26px;
					}
					.weddings-detail {
						width: 350px;
						p {
							font-size: 9px;
							letter-spacing: 4px;
							line-height: 20px;
						}
					}
				}
			}
		}
		.press-2 { 
			float:left;
			height: 470px;
			width: 250px;
			padding: 0px 50px;
			padding-right: 224px;
			background-color: rgba(178, 117, 81, .3);
			background-size: 100%;
			.parties-overlay {
				position: relative;
				top: 50px;
				background-image: url('../images/boston_voyager.jpg');
				background-size: 100%;
				background-repeat: no-repeat;
				height: 350px;
				width: 270px;
				.parties-text {
					padding: 20px 0px 0px 40px;
					.parties-title {
						color: #FFF;
						text-transform: uppercase;
						letter-spacing: 12px;
						font-family: 'Avenir';
						font-weight: 100;
						font-size: 26px;
					}
					.parties-detail {
						width: 350px;
						p {
							font-size: 9px;
							letter-spacing: 4px;
							line-height: 20px;
						}
					}
				}
			}
		}
		.edecor-about { 
			float:left;
			height: 1170px;
			width: 750px;
			padding: 0px 50px;
			padding-left: 224px;
			background-color: rgba(178, 117, 81, .3);
			background-size: 100%;
			.parties-overlay {
				position: relative;
				top: 50px;
				background-color: rgba(255,255,255,.8);
				background-size: 100%;
				background-repeat: no-repeat;
				height: 850px;
				width: 530px;
				.parties-text {
					padding: 20px 0px 0px 40px;
					.parties-title {
						color: #FFF;
						text-transform: uppercase;
						letter-spacing: 12px;
						font-family: 'Avenir';
						font-weight: 100;
						font-size: 26px;
					}
					.parties-detail {
						width: 450px;
						h1 {
							font-family: "Avenir";
						}
						p {
							font-size: 11px;
							letter-spacing: 1px;
							line-height: 20px;
							color: #444;
							font-family: "Avenir";
						}
					}
				}
			}
		}
	}
	.double-col-edecor {
		width: 100%;
		height: 1220px;
		.edecor-about { 
			float: left;
			height: 1220px;
			width: 836px;
			padding: 0px 50px;
			padding-left: 138px;
			background-color: rgba(178, 117, 81, .3);
			background-size: 100%;
			.parties-overlay {
				position: relative;
				top: 50px;
				background-color: rgba(255,255,255,.8);
				background-size: 100%;
				background-repeat: no-repeat;
				height: 730px;
				width: 750px;
				margin-top: 55px;
				.parties-text {
					padding: 40px 0px 0px 70px;
					.parties-title {
						color: #FFF;
						text-transform: uppercase;
						letter-spacing: 12px;
						font-family: 'Avenir';
						font-weight: 100;
						font-size: 26px;
					}
					.parties-detail {
						width: 610px;
						h1 {
							font-family: "Avenir";
							text-align: center;
							font-size: 30px;
						}
						p {
							font-size: 10px;
							letter-spacing: 1px;
							line-height: 20px;
							color: #444;
							font-family: "Avenir";
						}
					}
				}
			}
			.havenly-overlay {
				position: relative;
				top: 50px;
				background-color: rgba(255,255,255,.8);
				background-size: 100%;
				background-repeat: no-repeat;
				height: 250px;
				width: 750px;
				.havenly-text {
					padding: 40px 0px 0px 0px;
					.parties-title {
						color: #FFF;
						text-transform: uppercase;
						letter-spacing: 12px;
						font-family: 'Avenir';
						font-weight: 100;
						font-size: 26px;
					}
					.havenly-detail {
						width: 610px;
						text-align: center;
						h1 {
							font-family: "Avenir";
							text-align: center;
							padding-left: 140px;
						}
						p {
							font-size: 10px;
							letter-spacing: 1px;
							line-height: 12px;
							color: #444;
							font-family: "Avenir";
							padding-left: 140px;
						}
						.havenly-promo {
							background-image: url('../images/favicons/havenly-long.jpg');
							background-size: contain;
							height: 50px;
							width: 136px;
							margin-left: 305px;
							border: 1px solid rgba(0,0,0,.4);
						}
					}
				}
			}
		}
	}
	.margarita {
		height: 338px;
		background-image: url('../images/zaz-main-img.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		padding: 40px 0px 0px 80px;
		border: 2px solid #313131;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
		.margarita-text {
			float: left;
			margin: auto;
			width: 400px;
			h1 {
				color: #FFF;
				text-transform: uppercase;
				letter-spacing: 12px;
				font-family: 'Avenir';
				font-weight: 100;
				font-size: 26px;
			}
			.subtitle {
				width: 350px;
				p {
					font-size: 12px;
					letter-spacing: 4px;
					line-height: 32px;
				}
			}
			.attributions {
				width: 600px;
				p {
					font-size: 11px;
					letter-spacing: 4px;
					line-height: 32px;
				}
			}
			.info-detail {
				p {
					font-weight: 700;
					font-size: 14px;
				}
			}
			.buttons {
				a {
					text-decoration: none;
				}
				.button-white {
					background-color: rgba(255,255,255,.2);
					border-radius: 4px;
					height: 40px;
					margin: 0 auto;
					border: 1px solid white;
					p {
						/* Font Styling */
						letter-spacing: 3px;
						font-size: 12px;
						line-height: 40px;
						text-align: center;
						color: white;
						font-family: 'Avenir';
						text-transform: uppercase;
					}
					&:hover {
						cursor: pointer;
						background-color: #FFF;
						p {
							color: $teal-dark;
							font-weight: 500;
						}
					}
				}
			}
			form {
				p {
					padding-top: 18px;
					padding-bottom: 8px;
				}
				input[type=text], textarea {
					border: 1px solid white;
					background-color: rgba(255,255,255,.1);
					height: 40px;
					width: 400px;
					font-family: 'Avenir';
					color: white;
					font-size: 17px;
					padding: 1px 4px 0px 6px;
					font-weight: 200;
					&:focus {
						border: 2px solid #f8db75;
						outline: none;
					}
				}
				textarea {
					height: 60px;
					padding: 6px;
				}
				input[type=submit] {
					margin-left: 200px;
					width: 200px;
					background-color: rgba(255,255,255,.2);
					border-radius: 4px;
					height: 40px;
					margin-top: 10px;
					border: 1px solid white;
					/* Font Styling */
					letter-spacing: 3px;
					font-size: 12px;
					line-height: 35px;
					text-align: center;
					color: white;
					font-family: 'Avenir';
					text-transform: uppercase;
					&:hover {
						cursor: pointer;
						background-color: #FFF;
						color: $teal-dark;
						font-weight: 500;
					}
				}
			}
		}
		.margarita-image-index {
			img {
				width: 520px;
			}
		}
		.margarita-image {
			img {
				float: right;
				width: 340px;
			}
		}
	}
	.margarita-contact {
		height: 460px;
		background-image: url('../images/margarita-background.png');
		background-size: 100%;
		background-repeat: no-repeat;
		padding: 40px 0px 0px 80px;
		.margarita-text {
			float: left;
			margin: auto;
			width: 400px;
			h1 {
				color: #FFF;
				text-transform: uppercase;
				letter-spacing: 12px;
				font-family: 'Avenir';
				font-weight: 100;
				font-size: 26px;
			}
			.subtitle {
				width: 350px;
				p {
					font-size: 12px;
					letter-spacing: 4px;
					line-height: 32px;
				}
			}
			.attributions {
				width: 600px;
				p {
					font-size: 11px;
					letter-spacing: 4px;
					line-height: 32px;
				}
			}
			.info-detail {
				p {
					font-weight: 700;
					font-size: 14px;
				}
			}
			.buttons {
				a {
					text-decoration: none;
				}
				.button-white {
					background-color: rgba(255,255,255,.2);
					border-radius: 4px;
					height: 40px;
					margin: 0 auto;
					border: 1px solid white;
					p {
						/* Font Styling */
						letter-spacing: 3px;
						font-size: 12px;
						line-height: 40px;
						text-align: center;
						color: white;
						font-family: 'Avenir';
						text-transform: uppercase;
					}
					&:hover {
						cursor: pointer;
						background-color: #FFF;
						p {
							color: $teal-dark;
							font-weight: 500;
						}
					}
				}
			}
			form {
				p {
					padding-top: 18px;
					padding-bottom: 8px;
				}
				input[type=text], textarea {
					border: 1px solid white;
					background-color: rgba(255,255,255,.1);
					height: 40px;
					width: 400px;
					font-family: 'Avenir';
					color: white;
					font-size: 17px;
					padding: 1px 4px 0px 6px;
					font-weight: 200;
					&:focus {
						border: 2px solid #f8db75;
						outline: none;
					}
				}
				textarea {
					height: 60px;
					padding: 6px;
				}
				input[type=submit] {
					margin-left: 200px;
					width: 200px;
					background-color: rgba(255,255,255,.2);
					border-radius: 4px;
					height: 40px;
					margin-top: 10px;
					border: 1px solid white;
					/* Font Styling */
					letter-spacing: 3px;
					font-size: 12px;
					line-height: 35px;
					text-align: center;
					color: white;
					font-family: 'Avenir';
					text-transform: uppercase;
					&:hover {
						cursor: pointer;
						background-color: #FFF;
						color: $teal-dark;
						font-weight: 500;
					}
				}
			}
		}
		.margarita-image-index {
			img {
				width: 520px;
			}
		}
		.margarita-image {
			img {
				float: right;
				width: 400px;
			}
		}
	}
	.services-title {
		height: 80px;
		background-color: #4A2F38;
		border: 12px solid;
		-webkit-border-image: url(../images/gold-texture-lighters.png) 4% repeat; /* Safari 3.1-5 */
	    -o-border-image: url(../images/gold-texture-lighters.png) 4% repeat; /* Opera 11-12.1 */
		border-image: url(../images/gold-texture-lighters.png) 4% repeat;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		p {
			line-height: 80px;
			text-align: center;
			color: #CCC;
			font-weight: 500;
			font-size: 26px;
		}
	}
	.events-title {
		height: 80px;
		background-color: #9D5758;
		border: 12px solid;
		-webkit-border-image: url(../images/gold-texture-lighters.png) 4% repeat; /* Safari 3.1-5 */
	    -o-border-image: url(../images/gold-texture-lighters.png) 4% repeat; /* Opera 11-12.1 */
		border-image: url(../images/gold-texture-lighters.png) 4% repeat;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		p {
			line-height: 80px;
			text-align: center;
			color: #CCC;
			font-weight: 500;
			font-size: 26px;
		}
	}
	.press-title {
		height: 80px;
		background-color: #333;
		border: 8px solid;
		-webkit-border-image: url(../images/gold-texture-lighters.png) 4% repeat; /* Safari 3.1-5 */
	    -o-border-image: url(../images/gold-texture-lighters.png) 4% repeat; /* Opera 11-12.1 */
		border-image: url(../images/gold-texture-lighters.png) 4% repeat;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		p {
			line-height: 80px;
			text-align: center;
			color: #CCC;
			font-weight: 500;
			font-size: 26px;
		}
	}
	.services-listing {
		width: 734px;
		height: 300px;
		background-color: #4C3942;
		padding: 60px 60px 60px 230px;
		.services-container {
			width: 100%;
			height: 400px;
			.services-list-1 {
				float: left;
				width: 300px;
				p {
					font-size: 14px;
					line-height: 24px;
					color: #CCC;
					text-transform: none;
					letter-spacing: 1;
				}
			}
			.services-list-2 {
				float: left;
				width: 300px;
				p {
					font-size: 14px;
					line-height: 24px;
					color: #CCC;
					text-transform: none;
					letter-spacing: 1;
				}
			}
		}
		.buttons {
			height: 40px;
			width: 300px;
			a {
				text-decoration: none;
				height: 40px;
				width: 300px;
				.button-white {
					width: 300px;
					background-color: rgba(255,255,255,.2);
					border-radius: 4px;
					height: 40px;
					margin-top: 218px;
					margin-left: 130px;
					border: 1px solid white;
					p {
						/* Font Styling */
						letter-spacing: 3px;
						font-size: 12px;
						line-height: 40px;
						text-align: center;
						color: white;
						font-family: 'Avenir';
						text-transform: uppercase;
						height: 40px;
					}
					&:hover {
						cursor: pointer;
						background-color: #FFF;
						p {
							color: $teal-dark;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
	.events-listing {
		width: 784px;
		height: 470px;
		background-color: #894141;
		padding: 60px 60px 0px 180px;
		.events-container {
			width: 100%;
			height: 500px;
			.events-list-1 {
				float: left;
				width: 220px;
				margin-right: 30px;
				h1 {
					font-size: 17px;
					line-height: 24px;
					color: #CCC;
					font-weight: 500;
					text-transform: none;
					letter-spacing: 1;
					font-family: 'Avenir';
					color: #fff;
				}
				p {
					font-size: 14px;
					line-height: 24px;
					color: #CCC;
					text-transform: none;
					letter-spacing: 1;
				}
			}
			.events-list-2 {
				float: left;
				width: 220px;
				margin-right: 30px;
				h1 {
					font-size: 17px;
					line-height: 24px;
					color: #CCC;
					font-weight: 500;
					text-transform: none;
					letter-spacing: 1;
					font-family: 'Avenir';
					color: #fff;
				}
				p {
					font-size: 14px;
					line-height: 24px;
					color: #CCC;
					text-transform: none;
					letter-spacing: 1;
				}
			}
			.events-list-3 {
				float: left;
				width: 220px;
				h1 {
					font-size: 17px;
					line-height: 24px;
					color: #CCC;
					font-weight: 500;
					text-transform: none;
					letter-spacing: 1;
					font-family: 'Avenir';
					color: #fff;
				}
				p {
					font-size: 14px;
					line-height: 24px;
					color: #CCC;
					text-transform: none;
					letter-spacing: 1;
				}
			}
			.events-list-4 {
				width: 500px;
				padding-left: 120px;
				position: relative;
				top: 50px;
				h1 {
					font-size: 17px;
					line-height: 24px;
					color: #CCC;
					font-weight: 500;
					text-transform: none;
					letter-spacing: 1;
					font-family: 'Avenir';
					color: #fff;
				}
				p {
					font-size: 14px;
					line-height: 24px;
					color: #CCC;
					text-transform: none;
					letter-spacing: 1;
				}
			}
		}
		.buttons {
			height: 40px;
			width: 300px;
			a {
				text-decoration: none;
				height: 40px;
				width: 300px;
				.button-white {
					width: 300px;
					background-color: rgba(255,255,255,.2);
					border-radius: 4px;
					height: 40px;
					margin-top: 100px;
					margin-left: 180px;
					border: 1px solid white;
					p {
						/* Font Styling */
						letter-spacing: 3px;
						font-size: 12px;
						line-height: 40px;
						text-align: center;
						color: white;
						font-family: 'Avenir';
						text-transform: uppercase;
						height: 40px;
					}
					&:hover {
						cursor: pointer;
						background-color: #FFF;
						p {
							color: $teal-dark;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
	.packages {
		height: 100px;
		background-color: #313131;
		border: 6px solid;
		-webkit-border-image: url(../images/gold-texture-lighters.png) 4% repeat; /* Safari 3.1-5 */
	    -o-border-image: url(../images/gold-texture-lighters.png) 4% repeat; /* Opera 11-12.1 */
		border-image: url(../images/gold-texture-lighters.png) 4% repeat;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		p {
			float: left;
			line-height: 100px;
			margin-left: 300px;
			color: #CCC;
			margin-right: 10px;
		}
		.package-icons {
			a {
				text-decoration: none;
				img {
					margin-left: 45px;
					height: 64px;
					margin-top: 15px;
					&:hover {
						cursor: pointer;
						-webkit-transform: rotate(10deg);
					}
				}
			}
		}
	}
	.about {
		width: 824px;
		height: 320px;
		background-image: url(../images/zazstudio-5963.png);
		background-position-y: -140px;
		background-size: 100%;
		padding: 40px 100px;
		.about-text {
			background-color: rgba(255,255,255,.9);
			border-radius: 4px;
			width: 390px;
			height: 280px;
			padding: 25px;
			float: left;
			.about-title {
				p {
					font-size: 14px;
					letter-spacing: 2px;
					color: #313131;
					font-weight: 800;
					text-align: center;
					padding-bottom: 10px;
				}
			}
			.about-description {
				p {
					color: #313131;
					font-size: 13px;
					letter-spacing: 1px;
					text-transform: none;
					line-height: 15px;
				}
			}
		}
		.about-image {
			float: left;
			width: 200px;
			height: 200px;
			margin-top: 45px;
			margin-left: 140px;
			border-radius: 400px;
			background-image: url(../images/zazstudio-6275.jpg);
			background-size: 210%;
			background-position: 13% 30%;
			border: 6px solid #FFF;
		}
	}
	.instagram-container {
		width: 100%;
		background-image: url(../images/instagram-background.png);
		background-size: 100%;
		.instagram-wall {
			p {
				margin-left: 4px;
				letter-spacing: 1px;
				color: $teal-dark;
				font-weight: 500;
			}
			margin-left: 262px;
			width: 500px;
			height: 520px;
			padding: 20px 0px;

		}
	}
	.favicon-center {
		background-color: $teal-light;
		.favicon-container {
			height: 40px;
			margin: 0 auto;
			width: 515px;
			display: block;
			padding: 10px 2px;
			a {
				text-decoration: none;
				.icon {
					border-radius: 4px;
					cursor: hand;
					cursor: pointer;
					margin: 0px;
				}
			}
		}
	}
	h5 {
		font-family: 'Avenir';
		font-weight: 200;
		font-size: 12px;
		text-align: center;
		border-top: 2px solid #b3cbcf;
		padding: 20px;
		margin: auto;
		color: $teal-dark;
		a {
			text-decoration: none;
			color: $teal-dark;
		}
	}
}
.logo-container {
	width: 135px;
	height: 63px;
	overflow: visible;
	float: left;
	position: relative;
}
.logo-container img {
	width: 100%;
	margin-top: 0px;
	margin-left: 20px;
}
header {
	background-color: white;
	height: 140px;
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,.9);
	background-image: url("../images/logo-Z.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.main-nav {
	padding-top: 75px;
	float: right;
	padding-right: 45px;
	padding-bottom: 0;
	margin: 0;
}
.main-nav ul {
	padding: 0;
	margin: 0;
}
.main-nav li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
}
.main-nav a {
	display: inline-block;
	/* FONT */
	text-align: center;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
	color: #616161;
	/* PADDING */
	margin-left: 3px;
	padding: 16px 8px 8px;
}
.main-nav a:hover {
	cursor: pointer;
	color: #e0ab92;
	background-color: rgba(255,255,255,.9);
}
.dropdown {		
	display: none;
}
p {
	margin: 0;
	padding: 0;
}
@media all and (min-width: 0px) and (max-width: 768px) {	
	header {
		height: 150px
	}
	.main-nav {
		position: fixed;
		padding: 0;
	}
	.logo-container {
		width: 300px;
		height: 100px;
		overflow: visible;
		padding-left: 100px;
	}
	.main-nav ul {
		display: none;
	}
	#favicon-container {
		height: 30px;
		padding: 0;
		margin: auto;
		width: 640px;
	}
	.icon {
		height: 35px;
	}
	/* Dropdown Button */
	.dropbtn {
		background-color: rgba(255,255,255,.6);
	    color: black;
	    font-size: 25px;
	    text-align: center;
	    margin-top: 20px;
	    margin-left: 20px;
	    border: 2px solid black;
	   	cursor: pointer;
	   	padding: 1px 8px 4px 8px;
	}

	/* Dropdown button on hover & focus */
	.dropbtn:hover, .dropbtn:focus {
    	background-color: rgba(255,255,255,.2);
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	    position: relative;
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	    display: none;
	    position: absolute;
	    padding: 0;
	    margin: 0;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		border: 1px solid black;
	    color: black;
	    background-color: rgba(190,223,226,.6);
	    padding: 6px 8px;
	    text-decoration: none;
	    display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #f1f1f1}

	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
	.show {display:block;}

 	section.module.parallax {
 		height: 250px;
 	}
	section.module.parallax h1 {
    	font-size: 40px;
    	margin: 0;
    	line-height: 250px;
 	}
 	section.module.parallax h1 a {
 		font-size: 40px;
    	margin: 0;
    	line-height: 250px;
 	}
}

/************ MOBILE *************/

@media all and (min-device-width: 0px) and (max-device-width: 1242px) {	
	header {
		height: 250px
	}
	.subtitle {
		font-size: 36px;
		text-align: center;
		width: 600px;
	}
	.main-nav {
		position: fixed;
		padding: 0;
	}
	.logo-container {
		width: 500px;
		height: 300px;
		overflow: visible;
		padding-left: 250px;
	}
	.main-nav ul {
		display: none;
	}
	#favicon-container {
		height: 30px;
		padding: 0;
		margin: auto;
		width: 350px;
	}
	.icon {
		height: 35px;
	}
	/* Dropdown Button */
	.dropbtn {
		background-color: rgba(255,255,255,.6);
	    color: black;
	    font-size: 25px;
	    text-align: center;
	    margin-top: 20px;
	    margin-left: 20px;
	    border: 2px solid black;
	   	cursor: pointer;
	   	padding: 1px 8px 4px 8px;
	}

	/* Dropdown button on hover & focus */
	.dropbtn:hover, .dropbtn:focus {
    	background-color: rgba(255,255,255,.2);
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	    position: relative;
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	    display: none;
	    position: absolute;
	    padding: 0;
	    margin: 0;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		border: 1px solid black;
	    color: black;
	    background-color: rgba(190,223,226,.6);
	    padding: 6px 8px;
	    text-decoration: none;
	    display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #f1f1f1}

	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
	.show {display:block;}

 	section.module.parallax {
/* 		height: 250px;*/
		height: 450px;
		background-position: 0% 0%;
  		background-attachment: scroll;
  		background-size: 100%;
 	}
	section.module.parallax h1 {
    	font-size: 60px;
    	margin: 0;
    	line-height: 450px;
 	}
 	section.module.parallax h1 a {
 		font-size: 60px;
    	margin: 0;
    	line-height: 450px;
 	}
}