.double-col {
	width: 100%;
	height: 570px;
	.hospitality { 
		float:left;
		height: 570px;
		width: 512px;
		background-image: url('../images/hosp.png');
		background-size: 100%;
		.hospitality-overlay {
			background-color: rgba(43, 48, 58, .8);
			height: 54%;
			.hospitality-text {
				padding: 40px 0px 0px 40px;
				.hospitality-title {
					color: #FFF;
					text-transform: uppercase;
					letter-spacing: 12px;
					font-family: 'Avenir';
					font-weight: 100;
					font-size: 26px;
				}
				.hospitality-detail {
					width: 350px;
					p {
						font-size: 9px;
						letter-spacing: 4px;
						line-height: 20px;
					}
				}
			}
		}
	}
	.residential { 
		float:left;
		height: 570px;
		width: 512px;
		background-image: url('../images/resi.png');
		background-size: 100%;
		.residential-overlay {
			position: relative;
			top: 342px;
			background-color: rgba(53, 72, 76, .9);
			height: 40%;
			.residential-text {
				padding: 20px 0px 0px 40px;
				.residential-title {
					color: #FFF;
					text-transform: uppercase;
					letter-spacing: 12px;
					font-family: 'Avenir';
					font-weight: 100;
					font-size: 26px;
				}
				.residential-detail {
					width: 350px;
					p {
						font-size: 9px;
						letter-spacing: 4px;
						line-height: 20px;
					}
				}
			}
		}
	}
}
.services-title {
	height: 80px;
	background-color: #4A2F38;
	border: 12px solid;
	-webkit-border-image: url(../images/gold-texture-lighters.png) 4% repeat; /* Safari 3.1-5 */
    -o-border-image: url(../images/gold-texture-lighters.png) 4% repeat; /* Opera 11-12.1 */
	border-image: url(../images/gold-texture-lighters.png) 4% repeat;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	p {
		line-height: 80px;
		text-align: center;
		color: #CCC;
		font-weight: 500;
		font-size: 26px;
	}
}
.services-listing {
	width: 734px;
	height: 300px;
	background-color: #4C3942;
	padding: 60px 60px 60px 230px;
	.services-container {
		width: 100%;
		height: 400px;
		.services-list-1 {
			float: left;
			width: 300px;
			p {
				font-size: 14px;
				line-height: 24px;
				color: #CCC;
				text-transform: none;
				letter-spacing: 1;
			}
		}
		.services-list-2 {
			float: left;
			width: 300px;
			p {
				font-size: 14px;
				line-height: 24px;
				color: #CCC;
				text-transform: none;
				letter-spacing: 1;
			}
		}
	}
	.buttons {
		height: 40px;
		width: 300px;
		a {
			text-decoration: none;
			height: 40px;
			width: 300px;
			.button-white {
				width: 300px;
				background-color: rgba(255,255,255,.2);
				border-radius: 4px;
				height: 40px;
				margin-top: 218px;
				margin-left: 130px;
				border: 1px solid white;
				p {
					/* Font Styling */
					letter-spacing: 3px;
					font-size: 12px;
					line-height: 40px;
					text-align: center;
					color: white;
					font-family: 'Avenir';
					text-transform: uppercase;
					height: 40px;
				}
				&:hover {
					cursor: pointer;
					background-color: #FFF;
					p {
						color: $teal-dark;
						font-weight: 500;
					}
				}
			}
		}
	}
}