$helvetica: helvetica, arial, sans-serif;
$avenir: 'Avenir';
$mathilde: 'Mathilde';
$stayrad: 'Vultures';

@font-face {
	font-family: 'Mathilde';
	src: url("../../fonts/mathilde.otf");
}
@font-face {
	font-family: 'Avenir';
	src: url("../../fonts/Avenir.ttc");
}
@font-face {
	font-family: 'Vultures';
	src: url("../../fonts/taken_by_vultures_alternate.otf");
}